<li class="message-item">
  <div class="message-item-head">
    <div class="message-item-avatar">
      <img src="https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png" alt="" role="presentation">
    </div>
    <div class="message-item-name">
      <%= message.senderable.user_name %>
    </div>
  </div>
  <div class="message-item-content">
    <span><%= message.content %></span>
  </div>
</li>
