<li class="room-item">
  <div class="room-item-head">
    <div class="room-item-head-avatar">
      <img src="https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png" alt="" role="presentation">
    </div>
    <div class="room-item-header-name-and-message">
      <div class="room-item-header-name">
        <%= link_to "Tran Xuan Nam", "#" %>
        <p>about 5 hours ago</p>
      </div>
      <div class="room-item-header-message">
        <p class="hidden-xs">hello, long time no see</p>
      </div>
    </div>
  </div>
  <div class="room-item-job-title">
    <%= link_to "Join us now!", "#" %>
  </div>
</li>
