@import 'variables/color';

.container-margin {
  margin-left: 0 !important;
}

.custom-header {
  background-color: $light-sea-green !important;
  height: 60px !important;

  .header-wrap-custom,
  .container {
    height: 60px !important;
  }

  .logo-custom img {
    height: 50px !important;
  }

  .top-account {
    margin: 18px 0 0;

    .icon-user,
    .icon-angle-down {
      color: $white !important;
    }

    a {
      line-height: 0 !important;
    }

    .drop-custom {
      margin: 15px 0;
      padding-bottom: 5px;
    }
  }

  .logo-custom {
    border: 0 !important;
    padding-right: 0 !important;
  }
}

.custom-primary-menu {
  float: left !important;

  .list-header-custom {
    border: 0 !important;

    .mega-menu {
      margin: 5px 4px 8px;
    }
  }

  .current > a {
    background-color: $black-background !important;
  }

  li:hover > a {
    background-color: $black-background !important;
  }

  li > a {
    border-radius: 20px;
    color: $white !important;
    margin: 8px 4px;
    padding: 5px 10px !important;
  }
}

.header {
  border-bottom: 1px;
  height: 80px;
}

.main-employer {
  margin-left: 250px;
  margin-right: 20px;
  overflow: hidden;
}

.custab label {
  display: inline;
  float: left;
  font-size: 14px;
}


.job-form [type="text"] {
  padding: 10px;
  width: 65%;
}

.job-image [type="file"] {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  width: 65%;
}

.custab textarea {
  height: 170px;
  width: 65%;
}

.tab-content .job-form select {
  width: 65%;
}

.collection-wrapper {
  margin-left: 24px;

  ul,
    li {
    list-style: none;
    margin: 5px;
    padding: 5px;
  }
}

.selection {
  float: left;
}

.thumb-image {
  border: 1px solid $gray-ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
  width: 150px;
}

.main-content {
  margin-top: 30px;
}

.sidebar-nav {
  margin-top: 100px;
}

.navbar-default-custom {
  background-color: $white !important;
  border: none !important;
}

.widget-links {
  border-bottom: 1px solid $gray87;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    max-height: none;
    padding: 0;
  }

  .navbar-default-custom {
    background-color: $white !important;
    border-right: 1px solid $gray87 !important;
  }

  .sidebar-nav .navbar ul {
    display: block;
    float: none;
  }

  .sidebar-nav .navbar li {
    display: block;
    float: none;
  }

  .sidebar-nav .navbar a {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .main-content {
    margin-top: 100px;
  }
}

.stretched-custom {
  overflow: auto !important;
}

@media (max-width: 992px){
  .container-custom {
    margin: 0 !important;
  }

  .custom-primary-menu {
    background-color: $light-sea-green;
    margin-top: -40px;
    width: 100%;

    .mega-menu {
      text-align: center !important;
    }
  }

  .custom-primary-menu .current > a {
    background-color: $transparent !important;
  }

  .logo-custom a {
    width: 50px;
  }
}
