<li class="message-item">
  <div class="message-item-head">
    <div class="message-item-avatar">
      <img src="https://dubpy8abnqmkw.cloudfront.net/images/anonymous/anonymous.png" alt="" role="presentation">
    </div>
    <div class="message-item-name">
      Tran Xuan Nam
    </div>
  </div>
  <div class="message-item-content">
    <span>Hi, this is Tran Xuan Nam from BJers.
Thanks for applying to visit our office!
We'd love to meet you, so it would be awesome if you could drop by our office.
What day and time is the best for you?
Hope to hear back from you soon!</span>
  </div>
</li>
