<% messages.each do |message| %>
  <li class="user-message-item">
    <div class="user-message-sender">
      <div class="user-message-sender-avatar">
        <%= load_senderable_avatar message.senderable,
          class: "img-circle img-h-50" %>
      </div>
      <div class="user-message-info-wrapper">
        <div class="user-message-sender-info">
          <a href="javascript:;">
            <span class="user-message-sender-name">
              <%= message.senderable.name %>
            </span>
          </a>
          <div class="user-message-sender-date">
            <%= I18n.localize message.created_at,
              format: "%m-%d-%y" %>
          </div>
        </div>
      </div>
    </div>
    <p class="user-message-item-content">
      <%= message.content %>
    </p>
  </li>
<% end %>
